* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* start share css */
.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    margin-right: 16px;
}

.transparent-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid white;
}

/* end share css */

/* main css */

header {}

nav {
    padding: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    max-width: 139px;
}

nav .menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}


#banner {
    background: url("../images/hero-bg.png");
    padding: 115px 120px 180px 120px;
    background-repeat: no-repeat;
}

#banner .banner-container {

    max-width: 1161px;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;

}


.banner-container .banner-rounded {
    max-width: 229px;
    margin: 0 auto 14px;
    background-color: #FFFFFF;
    border-radius: 22px;
    display: flex;
    align-items: center;
    padding: 8px 12px 8px;
}

.banner-rounded .circle-info {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}


.banner-round-circle {
    width: 16px;
    height: 16px;
    background-image: radial-gradient(circle at center,
            #469165 0%,
            rgba(70, 145, 101, 0.5) 70%,
            rgba(70, 145, 101, 0) 100%);
    margin-right: 6px;
    border-radius: 8px;

}

#banner .banner-container h1 {
    padding: 16px 214px 16px 214px;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.color-green {
    color: #30B868;
}


.banner-container .banner-info {

    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    font-weight: normal;
    padding: 0px 216px;
    margin-bottom: 32px;

}


/* notes section */

#notes {
    padding: 0px 120px;
}

#notes .notes-container {
    max-width: 1161px;
    /* border: 1px solid red; */
    margin: 0 auto;

}

.notes-container .notes-heading {
    text-align: center;
    padding-top: 20px;
}

.notes-container .notes-heading h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}

.notes-container .notes-heading p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.notes-container .notes-boxs {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.notes-boxs .note-card {
    max-width: 322px;
    padding: 70px 12px;
}

.notes-boxs .note-card .img-bg {
    max-width: 60px;
    max-height: 60px;
    background-color: #F95555;
    text-align: center;
    border-radius: 50%;
    padding: 14px;
    margin: 0 auto 16px;
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}

.note-card p {
    font-size: 16px;
    color: #627382;
    text-align: center;

}


/* solution section */

#solution {
    padding: 120px;
}

#solution .solution-container {
    max-width: 1161px;
    display: flex;
}

#solution .solution-container .solution-image img {
    max-width: 600px;
}


.solution-container .solution-content {

    padding: 102px 0px 102px 60px;
  
}

.solution-content .solution-general-info .solution-top-headline {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
} 
.solution-content .solution-general-info h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
} 

.solution-content .solution-general-info .solution-text {
  
    color: #627382;
    margin-bottom: 16px;
} 


.solution-content .solution-list ul{
    list-style: none;
}
.solution-content .solution-list ul li{
    display: flex;
    margin-top: 16px;
}

.solution-content .solution-list ul li img{
    margin-right: 6px;
}


/* ready to think section */

#ready-to-think{
    padding: 2px 120px 120px 120px;
}

#ready-to-think .ready-to-think-container{
    max-width: 1161px;
  
}
.ready-to-think-container .ready-to-think-heading{
    padding: 80px 40px 24px 40px;
    text-align: center;
   
}
.ready-to-think-container .ready-to-think-heading h1{
   color: #001931;
   font-size: 40px;
   font-weight: bold;
}

.ready-to-think-container .ready-to-think-heading p{
   color: #627382;
   font-size: 16px;
   line-height: 24px;
}

.ready-to-think-container .ready-to-think-fooer{
    padding: 0px 40px 80px 40px;
    text-align: center;
}
.ready-to-think-container .ready-to-think-fooer p{
    margin-top: 16px;
    color: #627382;
    line-height: 20px;
}



/* footer section */

footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

.footer-container{
    max-width: 1161px; 
}